<div>
    <h1 class="h1-black">Ironhack Cinema</h1>
    <p>Click on the movie to see the showtime!</p>
    <div>
        {{#each moviesArray}}
        <img src="{{image}}" alt="">
        <h2>{{title}}</h2>
        <a href="/movies/{{this._id}}">See more</a>
        {{/each}}
    </div>
</div>